.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.ant-table td {
  white-space: nowrap;
}
